//Colors
$main-color: #ffffff;
$black-color: #000000;
$text-color: #87949e;
$green-color: #17daa3;
$circle-color: #edeff1;
$grey-background: #edeff1;
$grey-title: #576671;
$green-color-opacity: rgba(23,218,163,.8);
//Typography
$title-font: "Raleway", sans-serif;
$text-font: "Proxima Nova", sans-serif;
